[2017-05-25 16:32] gilliankerr opened #1 "Invite Trevinder Ghangas as a contributor to this repository"
Trevinder is a Limesurvey expert and is supporting us on the SIS surveys. Please invite him as a contributor (https://github.com/trivender). We will be sending many of the limesurvey issues to Trevinder within this repo if that's okay.

[2017-05-25 16:49] #1 closed

[2017-05-25 16:59] gilliankerr opened #2 "Upload LogicalOutcomes favicon for all surveys"
DUE: June 2
Get favicon from our web site - http://logicaloutcomes.net/

[2017-05-25 16:59] gilliankerr opened #3 "Create survey template for all SIS surveys"

[2017-05-25 17:00] gilliankerr opened #4 "Create survey template for all LogicalOutcomes surveys"
We should use the same theme and default settings as for Orgwise, but with our logo and colour scheme.

[2017-05-26 16:39] gilliankerr opened #5 "Create LogicalOutcomes branded theme and assign to selected surveys"
DUE: June 3
1. Create a new template from 'tfr responsive lo' with dark blue instead of dark green, and with only the LogicalOutcomes logo, not OCASI. LogicalOutcomes logo should be on the left.

2. Assign the following surveys to this template:
- the ones starting with DHIS2
- the ones starting with LogicalOutcomes

Updated Instructions (6/1/2017):
Logo should be in line with the left side of the

[2017-05-26 16:52] jasleenkaur83 opened #6 "Set up smtp email settings"
DUE: Late June (not urgent)
When we set up new users, only email addresses from logicaloutcomes.net and gmail.com receive the email confirmations with passwords. Other email addresses must be set up on the server and then the survey admin must send a separate message with the username and temporary password. This is not an urgent issue but should be fixed later in June

[2017-05-26 17:04] gilliankerr commented on #5
Trivender, let me know if you need more details

[2017-05-26 17:19] gilliankerr opened #7 "Set up user permissions"
DUE WEDNESDAY:
Give the following users permissions to view, edit and create surveys if they do not already have them:
jasleen@logicaloutcomes.net Jasleen Kaur
moiz@logicaloutcomes.net Moiz Badhani
gillian@logicaloutcomes.net Gillian Kerr
sara@logicaloutcomes.net  Sara Gaudon
rafael@logicaloutcomes.net Rafael Capdevielle

Set up user account for Kaye Fookson  kaye@logicaloutcomes.net and give her

[2017-05-26 17:25] gilliankerr opened #8 "Assign SIS survey to the OrgWise template"
DUE: Monday
Assign this survey to the OrgWise template:
"SIS What evaluation services would you like from OCASI?"

[2017-05-26 17:38] #3 closed

[2017-05-26 17:38] #4 closed

[2017-05-26 17:53] gilliankerr opened #9 "Change name of this repo to SIS-LimeSurvey"
Rafael, can we change the name of this repo or is it easier to create a new one and just close this one? We are making all kinds of changes to the limesurvey templates and it goes beyond the ocasi template.
For example, we are changing to an older version of limesurvey (v 2.06) that is more stable, which means using another theme....

[2017-05-26 18:46] jasleenkaur83 commented on #6
If we use inmotion email server, mails do not get delivered to Logicaloutcomes.net domain. However if we set notification recipient address other than LO (e.g @gmail.com, @outlook.com) notification emails get delivered successfully.

[2017-05-26 19:59] rafen commented on #9
@gilliankerr yes we can change. I will do it.

[2017-05-26 19:59] gilliankerr commented on #9
OK great - then we will send people the updated URL.

[2017-05-26 19:59] rafen commented on #9
changed!

[2017-05-26 19:59] #9 closed

[2017-05-26 23:10] gilliankerr commented on #6
Jasleen, please send me the smtp settings (e.g., username, passwords, inmotion mail settings) on skype and i will pass them to Trevinder.

[2017-05-27 11:17] gilliankerr commented on #6
Trivender, jasleen does not have email settings. Please set up email using your own server temporarily and tell me what you need to set up with a LogicalOutcomes.net email address.

[2017-05-28 14:00] gilliankerr opened #10 "Create 'Exit and resume survey' buttons for all surveys"
DUE: Wednesday
The basic survey template should have exit and resume buttons. This will apply both to the LogicalOutcomes template and to the OrgWise template. Those templates are the only ones we will be using for all surveys.

[2017-05-29 10:57] trivender commented on #6
After some googling I changed below settings in cpanel and emails started emails getting delivered to LogicalOutcomes domain from limesurvey.  But there is still a problem that emails are going to junk folder. I think we need to add some SPF records to sort this out. Now I flipped the setting back to what they were initially.

### New settings
![after](https://cloud.githubusercontent.com/assets/15

[2017-05-29 12:14] trivender commented on #10
I tried several ways to exit/save links at the top bar but they do not not align well/look consistent across different device screens. I will try to add them in top bar in future but for now I have decided to keep the at button (as in TFR template by defalut) . Test link: http://logicaloutcomes.net/forms/index.php/828918?newtest=Y

[2017-05-29 12:18] trivender commented on #8
Where is this survey. Surveys currently at /forms
![image](https://cloud.githubusercontent.com/assets/1558981/26549507/05ae2710-4497-11e7-84d6-283fa4fb777f.png)

[2017-05-29 12:30] gilliankerr commented on #8
Did you transfer the two surveys on page 2 http://logicaloutcomes.net/survey/index.php/admin/survey/sa/listsurveys

[cid:image003.png@01D2D855.DE4D3FB0]

--
Dr. Gillian Kerr, C.Psych | President, LogicalOutcomes | Toronto (416) 531-7634 | Washington DC (202) 779-9634 ext 101 | Skype ID: gilliankerr | gillian(at)logicaloutcomes.net | Book a meeting with me at https://logicaloutcomes.acuityschedulin

[2017-05-29 12:33] trivender commented on #7
As we are facing some concerns in receiving email to logicaloutcomes domain so I set passwords as well. Respective login details are in below pattern.
Username: Firstname
Pass: Firstname@123

[2017-05-29 12:34] gilliankerr commented on #10
This solution is fine - let's keep it at the bottom. I didn't realize that was the default.

[2017-05-29 12:38] gilliankerr commented on #6
Thanks for doing this research. I can add SPF records to our DNS settings for logicaloutcomes.net if you tell me what they should say. I'll also check with Sara about the urgency, but it sounds like you're doing great :)

[2017-05-29 13:06] trivender commented on #5
Once template is approved in this test link I will add it surveys you mentioned.
http://logicaloutcomes.net/forms/index.php/667418?lang=en

[2017-05-29 13:27] trivender commented on #2
Check in incognito window or after clearing all cache.

[2017-05-29 14:33] saragaudon commented on #6
Hi Trivender, thanks for the good work. This issue will need to be figured out, but not as urgent as getting the Orgwise surveys looking good and ready to send.

My needs are:

Medium, in 5 business days
**DHIS2 Consultant registry surveys**: Sender, responses and issues (everything) to: dhis2@logicaloutcomes.net
-when there is a response, an email notice to 'dhis2@logicaloutcomes.net' is needed.

[2017-05-29 15:07] trivender commented on #8
Test link: http://logicaloutcomes.net/forms/index.php/886367?lang=en . I noticed this survey has french language added but not translated. Are we going to run this survey in french or it is accidentally added?

[2017-05-29 16:39] trivender commented on #6
Can you please provide me Mx record and spf record for o365 . You can send them to me on skype
![image](https://cloud.githubusercontent.com/assets/1558981/26556947/62695758-44bb-11e7-884d-17991fc06677.png)

[2017-05-29 16:45] trivender commented on #6
I mean all 3 values here MX,TXT and CNAME

[2017-05-29 17:00] gilliankerr commented on #10
good to close

[2017-05-29 17:00] #10 closed

[2017-05-29 17:04] gilliankerr opened #11 "Set up limesurvey in AWS or Azure and connect API to DHIS2"
This is a placeholder - we need to define what we mean by this issue.

[2017-05-29 18:04] gilliankerr commented on #8
Yes, it will be run in French, and we are waiting for translation.

[2017-05-29 18:05] gilliankerr commented on #2
Beautiful, thanks.

[2017-05-29 18:05] #2 closed

[2017-05-29 18:13] gilliankerr commented on #5
1. Please move the logo left, in line with the beginning of the blue bar.
2. Remove footer image:
![image](https://cloud.githubusercontent.com/assets/4176201/26558625/49d83c42-4478-11e7-8d7c-6005a6b5882b.png)

3. replace the current image with this one http://www.publicdomainpictures.net/pictures/190000/velka/raised-hands-1471189549xg5.jpg

4. Replace text with the following:

***

This is draft c

[2017-05-29 18:22] gilliankerr commented on #7
Please provide the URL for changing passwords, I can't see how to change my password in this version of Limesurvey

[2017-05-29 18:25] #8 closed

[2017-05-30 14:52] gilliankerr commented on #7
FOR NEXT MONDAY: Once we get the outgoing emails figured out, please create new usernames using the email addresses, not the first names, and email everyone a unique password. All usernames should follow the convention of name@logicaloutcomes.net.

[2017-05-30 14:56] gilliankerr commented on #6
Trivender, do you have the information you need? I can't tell whether the screenshot I sent you via skype answered this question.

[2017-05-30 17:32] gilliankerr opened #12 "Reposition 'Strongly disagree' and 'agree' statements in Managers Feedback Survey"
In Managers Feedback Survey, position 'Strongly Disagree' and Strongly Agree' to be at the far left and far right of the slider. For example:
My manager gives me actionable feedback that helps me improve my performance. | Strongly Disagree | Strongly Agree
from http://logicaloutcomes.net/forms/index.php/154199?lang=en

[2017-05-30 19:53] saragaudon opened #13 "Fix theme: welcome page and progress bar"
For the main theme
1. Revisit the welcome page/Question 1, and set up image/welcome page so that it can be edited (from admin sign), as discussed with Gillian and Sara
2. Add progress bar and numbered pages (as discussed with Sara)

Check with Gillian & Sara.

[2017-05-30 19:54] #7 closed

[2017-05-30 20:47] mmirasol commented on #13
I already put in the content for #1.  Please have a look:
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y

[2017-05-30 20:48] mmirasol commented on #13
for #2, it looks like the template is buggy. It hides the progress bar even though it is enabled in the survey settings.  to make it display, we need to put in a few lines of javascript.  will have this done shortly.

[2017-05-30 20:56] mmirasol commented on #13
#2 is done as well. please test.
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y&lang=en
in case the progress bar does not show, please clear cache first to reload the js files.

[2017-05-30 21:03] mmirasol commented on #12
Fixed. You need to specify a Slider left/right text separator under Advanced Settings.  In this case, we specify: |

[2017-05-30 22:09] gilliankerr commented on #5
Great thanks

[2017-05-30 22:10] #12 closed

[2017-05-30 22:11] gilliankerr commented on #5
Whoops, I closed this in error.

[2017-05-30 22:24] gilliankerr opened #14 "Create 5 one-page surveys as ending pages for the 5 OrgWise surveys"
Create 5 new surveys that will replace the ending page for each instrument. We want 3 sections for each instrument
- some content (see links below)
- a link to one or two resources for people to find out more
- a brief poll asking whether they think it would be useful

The content of each page is here:
https://sites.google.com/view/orgwise/understanding-your-results/manager-feedback-survey.
https:

[2017-05-30 22:34] gilliankerr opened #15 "Correct OrgWise - Organizational Capacity Assessment Tool"
- [ ] There are many obvious typos in the Organizational Capacity Assessment (OCA):
http://logicaloutcomes.net/forms/index.php/489512
Can you correct most of them in csv and then re-upload the content? If you need to refer to the original content, here's the material - https://usaidlearninglab.org/library/organizational-capacity-assessment

- [ ] The OCA should be split into seven surveys, one for

[2017-05-30 22:38] gilliankerr opened #16 "Make edits on 3 OrgWise surveys"
Upload the corrected content for 3 surveys in attached file (each survey is on a separate tab) - let me know if you disagree or have problems with any of them.

[Orgwise Surveys Edits AR-GK.xlsx](https://github.com/LogicalOutcomes/SIS-LimeSurvey/files/1042371/Orgwise.Surveys.Edits.AR-GK.xlsx)

[2017-05-30 22:40] gilliankerr opened #17 "Review and make recommendations on all OrgWise surveys"
Review all 5 OrgWise surveys and make recommendations on how to improve them.

[2017-05-30 22:42] gilliankerr commented on #16
Hold on this; I think there are errors in the spreadsheet.

[2017-05-31 13:20] trivender commented on #6
## Current situation:

- Emails are going to junk folder.
- With current settings as "Send email using remote server" the survey do not submit instantly and there is few seconds wait. Please note that survey got instantly submitted when the setting was "Send email using local server".
- But with current settings as "Send email using remote server" survey submit much quicker than sending mail via S

[2017-05-31 13:54] gilliankerr commented on #6
Great analysis thanks. Sara and I will talk and decide on next steps

[2017-05-31 14:12] trivender commented on #6
As pother to white list ip in office 365 https://knowbe4.zendesk.com/hc/en-us/articles/218134997-Whitelisting-by-IP-Address-in-Exchange-2013-2016-or-Office-365

[2017-05-31 14:27] saragaudon commented on #6
Hi Gillian, want me to contact O365 re: solution 1?

[2017-05-31 14:28] saragaudon commented on #5
Mark is working on the template also; he added a progress bar and welcome page (see Other Issue on this)...

[2017-05-31 15:50] trivender commented on #5
What other issue? I guess you can link issues here.

[2017-05-31 17:11] gilliankerr commented on #5
My fault, this seems to have multiple assignees. I have reassigned this to Mark, since he is working with another set of surveys directly with Sara. Sara, please take over as the lead on this and my apologies for confusion.

[2017-05-31 17:23] gilliankerr commented on #6
Sara, I don't know about the security implications of whitelisting inmotion servers. We could use one of our other domains (logicaloutcomes.ca), set it up as an inmotion email server, and use it for limesurvey emails. What do you think?

[2017-05-31 20:31] mmirasol opened #18 "Setup Admin Notification - Multiple Surveys"
Hi Mark - the response receive works!

Can you enable this setting for the

'LogicalOutcomes Independent Contractor Agreement' survey (my email)

2. and remove from the

'SIS benchmark' survey (don't need to know about every response for this one)

3. Also enable for these two surveys

DHIS2
 Consultants Registry Sign Up
DHIS2 Consultants Registry Permission

- but use 'DHIS2@logicaloutcomes.net'

[2017-05-31 20:32] mmirasol commented on #18
Can you enable this setting for the
'LogicalOutcomes Independent Contractor Agreement' survey (my email)

[2017-05-31 20:33] mmirasol commented on #18
and remove from the
'SIS benchmark' survey (don't need to know about every response for this one)

[2017-05-31 20:37] gilliankerr commented on #18
Sara is referring to this survey: Title:	SIS What evaluation services would you like from OCASI? (ID 886367)
Survey URL - English:	http://logicaloutcomes.net/forms/index.php/886367?lang=en

[2017-05-31 20:39] mmirasol commented on #18
Also enable for these two surveys
DHIS2 Consultants Registry Sign Up
DHIS2 Consultants Registry Permission
but use 'DHIS2@logicaloutcomes.net' > done.

[2017-05-31 20:40] mmirasol commented on #18
@gilliankerr thanks for confirming.
admin notification has been removed from SIS What evaluation services would you like from OCASI?

[2017-05-31 20:42] mmirasol commented on #18
Delete this survey: Survey DHIS2 Consultants Registry Permission Survey(ID:278139)
(it's a duplicate) > done.

[2017-05-31 20:43] mmirasol commented on #18
@gilliankerr @saragaudon all tasks done. please confirm.

[2017-05-31 20:47] gilliankerr commented on #18
@saragaudon I will leave it up to you to review this issue and close it if it's finished.

[2017-05-31 20:47] mmirasol commented on #13
sorry clunky means crowded? unfortunately there is no wider progress bar.  this is the one included in the template.  we can definitely make changes to it but i think it was made like this for mobile display.  we can get rid of the text or the bar if you prefer.

[2017-05-31 20:49] gilliankerr commented on #6
@mmirasol Do you have suggestions about how to resolve this issue - outgoing emails?

[2017-05-31 20:53] gilliankerr commented on #13
Let's not do custom development on this... How about removing the bar and just keeping the text?
![image](https://cloud.githubusercontent.com/assets/4176201/26653587/84e44cfe-4621-11e7-85f5-94e7fa4ed5d8.png)

I do think that surveys look much more inviting if they have an image on the welcome page, like the orgwise surveys do.

[2017-05-31 20:53] mmirasol commented on #5
hello @gilliankerr @saragaudon @trivender i did not work on this template specifically. i added the progress bar to tfr_lo_oc. since trivender already started working on this would suggest we let him complete his requests first. he can always integrated the changes from the other template.

@trivender what do you think?

[2017-05-31 20:55] mmirasol commented on #13
sara requested to remove the image. the old question is still there, just hidden. i will apply the requested to text to that and just restore it for now and we hide the bar.

[2017-05-31 20:56] mmirasol commented on #5
this is the other issue #13

[2017-05-31 20:56] saragaudon commented on #18
Thanks to you both - Mark, I will test the submit/response received later tonight/early tomorrow AM and let you know.

[2017-05-31 21:58] mmirasol commented on #5
Updated Instructions (6/1/2017):
Logo should be in line with the left side of the blue bar, and the footer should be removed, and the picture should be switched with the image with the hands

changes complete.
@gilliankerr @saragaudon please check.
http://logicaloutcomes.net/forms/index.php/667418?newtest=Y

[2017-05-31 22:02] mmirasol commented on #13
@saragaudon, @gilliankerr said: we will have 2 templates:
1. For SIS/OCASI
2.For LogicalOutcomes/DHIS2 consultants list.

We already prepared the blue template for LogicalOutcomes.
http://logicaloutcomes.net/forms/index.php/667418?newtest=Y,

Should we create a similar template for SIS and apply it to this survey? Or are you good with the current one?
http://logicaloutcomes.net/forms/index.php/886

[2017-05-31 22:17] mmirasol commented on #6
I would recommend using a 3rd party service like https://www.constantcontact.com/index.jsp to deliver the emails.  Please see my comments on the two issues below.

Problem: Mails going to junk.(Mails are going to junk only in logicaloutcomes domain. I checked with my gmail and email didn't go in junk)
Solution: Check in office 365 admin panel if there is a way to whitelist inmontion server. Maybe

[2017-05-31 22:30] mmirasol commented on #6
Emails are going to junk folder.

With current settings as "Send email using remote server" the survey do not submit instantly and there is few seconds wait. Please note that survey got instantly submitted when the setting was "Send email using local server".

But with current settings as "Send email using remote server" survey submit much quicker than sending mail via SMTP which was taking foreve

[2017-05-31 22:40] mmirasol commented on #6
@gilliankerr i think this issue is already resolved.
i got an email from sara earlier saying: Hi Mark - the response receive works!
with the email confirmation from lime in the body.

looking at the chat above, Mails are going to junk only in logicaloutcomes domain. and sara got the email so i believe it's good.

i also added myself to the notification and did a test and i received the email in my

[2017-05-31 22:40] mmirasol commented on #6
so unless there are other accounts that can't receive the emails i believe this issue has been resolved.

[2017-05-31 22:52] gilliankerr commented on #6
It seems like it's working... i will close this now and we can re-open if we find other issues.

[2017-05-31 23:06] gilliankerr commented on #5
This template looks great. @saragaudon do you want any other changes to the LogicalOutcomes template? If not, @mmirasol should assign the following surveys to this template:

the ones starting with DHIS2
the ones starting with LogicalOutcomes

[2017-06-01 12:47] saragaudon commented on #18
@mmirasol I added my reply, Editing the comments you left above.

[2017-06-01 12:50] saragaudon commented on #13
Thanks @mmirasol I think the two templates you have are looking good - can both have just the progress bar / not the line of text? After the progress bar fix, and logo (below) I'm satisfied.

I'm going to send you an email with our new logo file - if you can replace the logo image. Thanks!

[2017-06-01 12:59] saragaudon commented on #6
@mmirasol see survey admin issue, can you ensure that survey responses are sent by email (not just the admin email is set up) - for the LogicalOutcomes and DHIs2 surveys - I can test again? I wasn't clear from your notes if you had the 'email response when submission received' set up.

[2017-06-01 14:23] mmirasol commented on #6
yes sara. i received the submission email as admin. and i saw from your forwarded email that you got one from SIS What evaluation services would you like from OCASI?(ID:886367) before too.

as discussed on skype, kindly unflag the email as spam and try again.  the email is flagged as spam because it's not going thru smtp but uses the from address: limesurvey@logicaloutcomes.net

[2017-06-01 14:24] mmirasol commented on #6
![image](https://cloud.githubusercontent.com/assets/13954274/26684251/00031378-4719-11e7-9d45-68f672d2dd42.png)
![image](https://cloud.githubusercontent.com/assets/13954274/26684260/0ad546ae-4719-11e7-993a-3b08449b75fe.png)
![image](https://cloud.githubusercontent.com/assets/13954274/26684277/13be7fe2-4719-11e7-8186-ab914cad2c02.png)

[2017-06-01 14:31] mmirasol commented on #13
ok will remove the text and replace the logos in both.

[2017-06-01 14:35] mmirasol commented on #18
yes in relation to issue #6 we need to unflag the email as spam in office 365 and test again.  the reason why it's flagged as spam is because it's not going thru smtp but uses the from address: limesurvey@logicaloutcomes.net

[2017-06-01 15:15] mmirasol commented on #13
hi sara. just replaced the logos in both themes.
progress bar updated for both as well.
please check.
http://logicaloutcomes.net/forms/index.php/667418?newtest=Y
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y

the new logical outcome theme is currently used in a test survey test_template_lo(ID:667418),
should we apply it to LogicalOutcomes Independent Contractor Agreement(ID:252826) a

[2017-06-01 15:31] mmirasol commented on #16
Hi @gilliankerr in the future please use comments to identify changes.
![image](https://cloud.githubusercontent.com/assets/13954274/26687513/780b1772-4722-11e7-93fa-a1ecb31556b1.png)

Also, this format is very hard to read and review.  You have to click on each cell to see what's in each one.
I would suggest using a word document instead for better readability and to use the review option in word

[2017-06-01 16:50] mmirasol commented on #16
Recreating the surveys from .txt does not include the advanced settings so it breaks the formatting of the questions.  See the left and right labels are not displayed correctly.
![image](https://cloud.githubusercontent.com/assets/13954274/26690828/641059de-472d-11e7-8fb1-ebfb265d6f85.png)

In addition, people can remove html tags that make the question look better see the first page does not look

[2017-06-01 16:52] mmirasol commented on #16
Best practice would to get to the final report would be to let people apply the text directly and test to make sure the question was done well.

[2017-06-01 17:00] saragaudon commented on #18
@mmirasol provided smtp for the limesurvey@, let me know if there's more you need here/more testing I can do. I appear to be getting the responses, despite them being flagged as fraud. Yay!

[2017-06-01 17:01] saragaudon commented on #5
Hi all - Mark has made the changes to progress bar, we have to themes! an OCASI green theme, and LO blue theme. Thanks Mark.

[2017-06-01 17:01] #5 closed

[2017-06-01 17:02] saragaudon commented on #6
Given we're exploring this in Issue #18 , closing this. We're getting close!

[2017-06-01 17:04] saragaudon commented on #13
Thanks Mark, progress bar looks better, thanks for sharing the two themes.

@mmirasol  you can apply LO theme to the contractor agreement. Can you name the themes so we know, like 'OCASI green template' or something? 'LO blue theme'...? You can suggest.

@gilliankerr  I'm happy with these two  - do you have anything more to add? If not, please close this / or I can later.

[2017-06-01 17:48] saragaudon opened #19 "New User / setting up users in the future"
I need a new user account for Friday if possible:
sbaouji@ocasi.org
Soheil Baouji

Can start having email address as the User login?

This User should ONLY see the 'SIS What evaluation activities....' survey. Nothing else.

So that we can set up people easily in the future, it would be helpful to be trained on this. I see the LimeSurvey admin guide is available, if there are important points outsi

[2017-06-01 18:07] mmirasol commented on #6
hi @trivender we just did a smtp test with one of my test emails and the submission emails were sent to the inbox and not to the junk folder of sara@logicaloutcomes.net.  we retested with the smtp settings for limesurvey@logicaloutcomes.net with smtp host smtp.office365.com and it took a long time to submit and we did not get the email so it most likely timed out.

can you please add smtp.office36

[2017-06-01 18:09] mmirasol commented on #6
@gilliankerr @saragaudon will retest once the setting has been added to the inmotion domain settings.

[2017-06-01 18:11] mmirasol commented on #5
happy to help.
we have renamed the green and blue themes as OCASI-standard and LO-standard as per gillian's advise.

[2017-06-01 18:19] mmirasol commented on #19
here you go @saragaudon
https://manual.limesurvey.org/Manage_users

[2017-06-01 18:21] mmirasol commented on #19
using groups you can create roles like data entry, translator, etc so you can specify what tasks he can do.
as for per server access you need to go to the survey and add the user after you create it.
https://manual.limesurvey.org/Manage_users#Setting_permissions_for_a_single_survey

[2017-06-01 18:23] mmirasol commented on #13
@saragaudon you can apply LO theme to the contractor agreement. Can you name the themes so we know, like 'OCASI green template' or something? 'LO blue theme'...? You can suggest.

[2017-06-01 18:23] mmirasol commented on #13
footer has been removed from all LO templates.
and the DHIS2 still has the old lo template no progress bar.
and the logical outcome survey now has the new template LO-standard which is the blue theme with the progress bar
all orgwise surveys + sis survey now have the new template OCASI-standard assigned which is the green theme with the progress bar.
please confirm if this is correct.
the names LO

[2017-06-01 18:29] mmirasol commented on #18
thanks @saragaudon we successfully sent sms via smtp using my test account.  process currently fails with limesurvey@logicaloutcomes.net with smtp host smtp.office365.com. most likely this is because there is a local domain defined in the webhosting server.

requested @trivender to add smtp.office365.com points to 132.245.69.50 to inmotion's domain settings to make this work.  will retest once thi

[2017-06-01 20:12] mmirasol commented on #16
stopped working on this as per @gilliankerr advise. restored and reactivated the old surveys.

[2017-06-01 20:14] mmirasol commented on #17
as discussed with @gilliankerr will review the Organizational Capacity Assessment Tool first #15 and look at the other 4 surveys after.

[2017-06-01 20:33] #16 closed

[2017-06-01 20:33] #17 closed

[2017-06-01 21:23] mmirasol commented on #15
@gilliankerr in relation to Review and make recommendations on all OrgWise surveys #17, all the orgwise surveys look complicated because all the question groups are named the same.  It's not clear which of the 7 domains the questions fall under and the questions are repeated with the same answers.

The questions should first be grouped by area then similar questions should be combined into single

[2017-06-01 21:26] gilliankerr commented on #15
@traciwilson Could you identify these areas using the excel file that Mark will provide?

[2017-06-01 21:36] mmirasol commented on #15
@gilliankerr can you please review this list and send it back with the correct area assignments.
[section list.zip](https://github.com/LogicalOutcomes/SIS-LimeSurvey/files/1046106/section.list.zip)

[2017-06-01 21:46] mmirasol commented on #15
@gilliankerr please see my comments below:

Can you correct most of them in csv and then re-upload the content? If you need to refer to the original content, here's the material - https://usaidlearninglab.org/library/organizational-capacity-assessment

 The OCA should be split into seven surveys, one for each of 7 domains: governance, finance, administration, human resources, program management, p

[2017-06-01 22:07] gilliankerr commented on #15
These are excellent recommendations; I agree. I have asked Moiz for this spreadsheet - he generated these questions - and for his advice on how to do this. If he doesn't have it handy, perhaps @traciwilson can do this..? We will know Moiz's response by tomorrow morning.

[2017-06-02 12:45] trivender commented on #6
I added a A record . Please note it is automatically appending suffix .logicaloutcomes.net.

![image](https://cloud.githubusercontent.com/assets/1558981/26726111/6e9b2504-47bf-11e7-9ce7-0b7697a8a0bc.png)

[2017-06-02 14:25] saragaudon commented on #19
@mmirasol OR @trivender - I need the authority to create Users. Can either of you provide that authority to me? Thank you.

[2017-06-02 14:26] gilliankerr commented on #19
I have done it - you now have full permissions

[2017-06-02 14:29] #19 closed

[2017-06-02 15:12] saragaudon opened #20 "Remove New Users automatically assigned to all surveys"
@mmirasol is is possible to remove the default that, when a new user is created, they get access to all surveys? Or do you have to go one by one to remove the survey? That's a pain.
I can see where for each survey, you modify the activities they can perform.

Thanks for your help.

[2017-06-02 15:13] saragaudon commented on #13
Hi Mark - on the OCASI-standard theme, after the intro page there is still this Question index thing appearing at bottom, can this be removed?
(I'm looking at page 2 of the SIS survey)
![image](https://cloud.githubusercontent.com/assets/15642297/26732120/7b746b54-4784-11e7-8b2c-d78af60f4122.png)

[2017-06-02 15:14] saragaudon commented on #13
(I was viewing in French mode, in English it's the 'Question Index' )

[2017-06-02 15:39] gilliankerr commented on #15
@mmirasol Could you take this task? Traci is busy with the other 4 surveys, and you have a clear idea of what is required. You would be splitting up the questions into the correct 7 divisions by referring to the source document, adding Traci's introductory text on each survey, fixing typos. Is that okay? We need to complete it by Monday, and the interviews are starting Tuesday. Let me know if that

[2017-06-02 19:25] gilliankerr commented on #14
The survey respondent should press 'submit' before being taken to these other surveys, rather than 'Next'. Right now there is no signal that they are submitting the results before they are taken to the ending page.

[2017-06-02 19:54] mmirasol commented on #6
Thank you. Will test it now.

On Fri, Jun 2, 2017 at 8:45 PM, trivender <notifications@github.com> wrote:

[2017-06-02 20:18] mmirasol commented on #6
@trivender please confirm office365.com is not a parked domain on cpanel. could you create an ssh user for me?

[2017-06-02 21:44] mmirasol commented on #6
@gilliankerr @saragaudon tested the smtp settings for limesurvey@logicaloutcomes.net successfully outside of lime so the troubleshooting that needs to be is on this server.

may i request cpanel access for this?

[2017-06-02 21:44] mmirasol commented on #18
@gilliankerr @saragaudon tested the smtp settings for limesurvey@logicaloutcomes.net successfully outside of lime so the troubleshooting that needs to be is on this server.

may i request cpanel access for this?

[2017-06-02 21:49] mmirasol commented on #14
hello @gilliankerr please confirm where you see Next. I looked at one of the surveys.
Orgwise - Team Effectiveness Guide (ID 837344)
http://logicaloutcomes.net/forms/index.php/837344?newtest=Y
and the last page does show 'Submit' before being taken to
https://sites.google.com/view/orgwise/result-pages/team-effectiveness-guide
- the above url does not work by the way.

[2017-06-02 21:54] gilliankerr commented on #14
The results urls were changed - they are all at https://sites.google.com/view/orgwise/understanding-your-results

[2017-06-02 21:55] gilliankerr commented on #14
The Managers Feedback Survey does not have a submit button

[2017-06-02 21:58] mmirasol commented on #15
@gilliankerr yes i will be happy to fix all the text and regroup all the questions.

I created_ a copy of the current survey and i can proceed with making changes to those.  I see tracy made the same recommendations as i did the other regarding the groupings on the other 4 surveys.

Do you still wish to create 7 separate surveys or just use one main survey with an initial question asking which are

[2017-06-02 23:01] mmirasol commented on #14
I see.  Fixed it.
![image](https://cloud.githubusercontent.com/assets/13954274/26747739/6e7719dc-482a-11e7-84b7-0a0e42387d61.png)

[2017-06-02 23:29] mmirasol commented on #18
@gilliankerr @saragaudon was able to successfully send email using limesurvey@logicaloutcomes.net
bad news however is that because of the domain setup and mx records pointing to office365 it takes around 2 mins before the request is processed because it jumps between 2 webhosts (domain server and office 365) on every request.
![image](https://cloud.githubusercontent.com/assets/13954274/26748189/11

[2017-06-02 23:32] mmirasol commented on #18
or best would be to park the domain directly on the inmotion server so the email can be sent from the same server as lime.

[2017-06-02 23:51] mmirasol commented on #13
noted sara, will check it.

[2017-06-03 04:59] mmirasol commented on #20
If you create a user with global permissions to Surveys, the user will see all surveys.  You should create new users only with Use internal database authentication checked.
![image](https://cloud.githubusercontent.com/assets/13954274/26750757/75f7df16-485c-11e7-86d8-a3c4bd3726d8.png)

Then you can assign them to work on specific surveys only.

[2017-06-03 05:17] mmirasol commented on #13
This error was being caused by the setting for Show question index / allow jumping setting.
![image](https://cloud.githubusercontent.com/assets/13954274/26750815/b1fcf22a-485d-11e7-94c3-8058b2f513e3.png)

Do you need to see the list of questions at the bottom of the page?
If not, then turning this off will get rid of the error.
In addition, should the survey display each page by group or by questi

[2017-06-03 05:18] mmirasol commented on #13
The survey is currently set to display Group by Group and the Show question index is disabled so the error is gone.  Please confirm if the survey runs as expected.

[2017-06-03 05:20] mmirasol commented on #6
@gilliankerr @saragaudon was able to successfully send email using limesurvey@logicaloutcomes.net
bad news however is that because of the domain setup and mx records pointing to office365 it takes around 2 mins before the request is processed because it jumps between 2 webhosts (domain server and office 365) on every request.
![image](https://cloud.githubusercontent.com/assets/13954274/26748189/11

[2017-06-03 05:21] mmirasol commented on #6
best would be to park the domain directly on the inmotion server so the email can be sent from the same server as lime but use a domain other than logicaloutcomes.net since you already have this configured in office365.

[2017-06-03 06:56] mmirasol commented on #15
@gilliankerr i started working on the text changes. my first few comments on this.  please open the sheet attached and go to the Review tab to go thru my comments.
[Organizational Capacity Survey (293 Question & Thier Answers) - 20170603.01.xlsx](https://github.com/LogicalOutcomes/SIS-LimeSurvey/files/1049431/Organizational.Capacity.Survey.293.Question.Thier.Answers.-.20170603.01.xlsx)

This is ho

[2017-06-03 07:17] mmirasol commented on #15
or perhaps it might be better to discuss the issues here directly. here are the first few.

1. There are questions that have the exact same answers as the one before them. Questions should match their answers and it looks like this should be one question split into two.
![image](https://cloud.githubusercontent.com/assets/13954274/26751580/77218e92-486f-11e7-9e66-52e7308e2974.png)
![image](https://

[2017-06-03 07:19] mmirasol commented on #15
2. There are questions with wrong answer text.
![image](https://cloud.githubusercontent.com/assets/13954274/26751597/dcdd73f4-486f-11e7-8a25-42a122ea33cc.png)
The text in the spec document have them in multiple lines but these would look better as straight sentences.  See below for reference.
![image](https://cloud.githubusercontent.com/assets/13954274/26751606/fdf56dc6-486f-11e7-9282-3b2ee50f9cc1

[2017-06-03 08:09] mmirasol commented on #15
This question has two options named "The accounting system is cash based".
![image](https://cloud.githubusercontent.com/assets/13954274/26751921/0f9a2fe2-4877-11e7-8f7c-bc9cefe1d2cb.png)

[2017-06-03 08:11] mmirasol commented on #15
This one has two options for "The accounting system is computerized".
![image](https://cloud.githubusercontent.com/assets/13954274/26751933/50fe30c8-4877-11e7-9e34-9cee7c244145.png)

[2017-06-03 08:16] mmirasol commented on #15
This question does not answer when the chart of accounts was last updated and the second answer is repeated 3 times.
![image](https://cloud.githubusercontent.com/assets/13954274/26751973/02b95522-4878-11e7-80b7-b7475a26e41e.png)

[2017-06-03 08:34] mmirasol commented on #15
This one has duplicate options too.
![image](https://cloud.githubusercontent.com/assets/13954274/26752079/86c1fc0a-487a-11e7-8e28-e18698b9e916.png)

[2017-06-03 08:37] mmirasol commented on #15
The answers don't match this question.
![image](https://cloud.githubusercontent.com/assets/13954274/26752106/dfb26d72-487a-11e7-8cde-d199be6cf64f.png)

[2017-06-03 08:48] mmirasol commented on #15
The answers are not appropriate for this question.
![image](https://cloud.githubusercontent.com/assets/13954274/26752164/6e79a1d2-487c-11e7-9e0a-52f8ae5f33bf.png)

[2017-06-03 08:57] mmirasol commented on #15
Duplicate options for this question too.
![image](https://cloud.githubusercontent.com/assets/13954274/26752235/acede954-487d-11e7-8426-72ada0c8e8a0.png)

[2017-06-03 09:14] mmirasol commented on #15
The first two options for this question look the same to me.  Please advise.
![image](https://cloud.githubusercontent.com/assets/13954274/26752329/0b215856-4880-11e7-9d90-e1e76e18c1cc.png)

[2017-06-03 09:24] mmirasol commented on #15
The answers do not match this question.
![image](https://cloud.githubusercontent.com/assets/13954274/26752396/6d0426ba-4881-11e7-813f-d2d0ab70d735.png)

[2017-06-03 09:27] mmirasol commented on #15
As of this writing, i have correction the question text for 11/45 question groups.  Have to pause temporarily to rest a bit.  I'm also at 19/20 hours this week.  Please add 10 more hours for this week and I will resume working on the text corrections after dinner tonight.

[2017-06-03 09:30] mmirasol commented on #15
In case you would like to review, the corrected OCA survey is the inactive one.
![image](https://cloud.githubusercontent.com/assets/13954274/26752437/3dd7d340-4882-11e7-8fd6-9e4241a245b3.png)

[2017-06-03 09:36] mmirasol commented on #15
Also, instead of displaying all the questions in the same group in one page, I would recommend doing it question by question and instead of displaying the group description, add in a boilerplate (display) question at the start of the group to show the objectives and instructions for that group.

For example, show the text below before showing the first question for that group.
Vision and Mission
O

[2017-06-03 14:33] gilliankerr commented on #18
@saragaudon It looks like we should set up an email server in inmotion with logicaloutcomes.ca or logicaloutcomes.org. Do you agree, and if so, which domain would you prefer?

[2017-06-03 15:07] gilliankerr commented on #15
@mmirasol when you see errors or duplications in the questions, flag them for @traciwilson to review. Traci can go back to the original source and check for accuracy.

[2017-06-03 15:09] gilliankerr commented on #15
Other than errors and questions in the text, what other issues are outstanding? You and I can discuss them before I leave the house (in about 40 minutes); then I will be unavailable until evening.

[2017-06-03 19:34] traciwilson commented on #15
@mmirasol what is the best way to communicate changes/corrections to you after I review? When you see issues such as the text didn't come through in the limesurvey, and you have the full text in the source document, I would suggest just fixing on the spot, rather than creating an issue log for it. This removes several steps of work.
Also, if you'd like to set me up with user permissions, I can mak

[2017-06-03 20:51] gilliankerr commented on #15
I set you up with user permissions on limesurvey ; let me know if you have any problems with it

[2017-06-03 21:38] mmirasol commented on #15
hi @gilliankerr @traciwilson sorry for the wait. had to drive late last night. got ko'd.

[2017-06-03 21:41] mmirasol commented on #15
all the issues in text that can be fixed are already fixed actually.  the issues i have posted here are the ones with options that don't make sense. i posted the issues directly on this log so you didn't have to look at the source document but we can do that also so you have full reference.

@traciwilson please look at the file below and use the review feature of excel to look at my comments so yo

[2017-06-03 21:45] mmirasol commented on #15
@traciwilson i suggest you continue to put your corrections on the file and edit each of the comments i posted above so i can get the corrections for each one directly. i will edit the comments here so you can copy the text directly and search for question on the file.

[2017-06-03 21:51] mmirasol commented on #15
Actually you can search for the beginning part of the questions in excel.  See example below.
![image](https://cloud.githubusercontent.com/assets/13954274/26757273/a6a97240-48e9-11e7-89d4-c32a35b75fdd.png)
![image](https://cloud.githubusercontent.com/assets/13954274/26757274/aeecb322-48e9-11e7-9154-7fa93686acab.png)
allows you to find the question with text "Does the organization have an external

[2017-06-04 00:07] mmirasol commented on #15
@gilliankerr @traciwilson i should be done with the first 3/7 areas within the next hour. I will importing these as separate surveys so tracy can test them and put in the correct descriptions for the groups.

[2017-06-04 00:28] mmirasol commented on #15
@traciwilson i think the answers need rephrasing.
![image](https://cloud.githubusercontent.com/assets/13954274/26757920/d4f99ec0-48ff-11e7-8b1f-63742a36a65f.png)

[2017-06-04 00:40] mmirasol commented on #15
@traciwilson @gilliankerr you can start making corrections to these surveys directly.

Governance and legal structure
http://logicaloutcomes.net/forms/index.php/admin/survey/sa/view/surveyid/235289
test link: http://logicaloutcomes.net/forms/index.php/235289?newtest=Y

Financial management and internal control systems
http://logicaloutcomes.net/forms/index.php/admin/survey/sa/view/surveyid/345769

[2017-06-04 00:47] mmirasol commented on #15
@traciwilson please confirm if you were able to login to lime and see the surveys mentioned.
i cannot check your login because @gilliankerr created it.  but i can create a new one for you if needed.  let me know if you need guidance in navigating lime and testing surveys.

[2017-06-05 15:29] saragaudon commented on #6
Hi @mmirasol thank you for continuing with this. Let's not include Gillian in the chat as she does not need this functionality for Orgwise. I need it for SIS and the DHIS2 surveys. Where are we on this task?

[2017-06-05 15:33] saragaudon commented on #13
Thanks Mark. We don't need to see list of questions at bottom of page. I think re: display of group or question, it really depends on the survey design...I don't see the Question index any more, thank you!

[2017-06-05 15:33] #13 closed

[2017-06-05 15:34] saragaudon commented on #18
@mmirasol see my comment on #6 - should we close this thread?

[2017-06-05 15:40] mmirasol commented on #18
@saragaudon yes we can continue there.

[2017-06-05 15:40] mmirasol commented on #6
Hi @saragaudon gillian made a recommendation.
@saragaudon It looks like we should set up an email server in inmotion with logicaloutcomes.ca or logicaloutcomes.org. Do you agree, and if so, which domain would you prefer?

[2017-06-05 15:40] mmirasol commented on #6
we might need gillian's help with setting up the domains.

[2017-06-05 15:41] mmirasol commented on #13
happy to help. =)

[2017-06-05 15:42] saragaudon commented on #6
I have access to the accounts, and can try if you tell me exactly what to do!

Sara

---
Sara Gaudon, Executive Director, LogicalOutcomes<http://www.logicaloutcomes.net/>
sara@logicaloutcomes.net<http://www.logicaloutcomes.net/> | Toronto 647-478-5634 x103 Washington 202-779-9634 x103

________________________________
From: Mark Mirasol <notifications@github.com>
Sent: June 5, 2017 11:40:55 AM
To:

[2017-06-05 15:43] mmirasol commented on #6
ok we need to add a new domain on inmotion. gillian suggested logicoutcomes.ca or logicaloutcomes.org can you setup one of these on inmotion?

once it's there we can create an email address on inmotion and use that for the smtp setup instead of  limesurvey@logicaloutcomes.net

[2017-06-05 15:59] mmirasol commented on #15
@traciwilson these two questions have the same answers.

![image](https://cloud.githubusercontent.com/assets/13954274/26791825/e58f36c2-4a4a-11e7-9ead-c3bcdf2a4e2a.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26791834/ef05ce28-4a4a-11e7-9d96-d5c1d7d10e26.png)

[2017-06-05 16:44] mmirasol opened #21 "Next Step Features List"
MARK, THESE CAN BE DONE OVER THE NEXT COUPLE OF DAYS. IF YOU ARE TOO BUSY, YOU DON'T NEED TO MAKE THESE CHANGES.
- [ ] Modify the presentation of the html print answers page - i.e,. narrow the first column, make text left justified instead of centre justified.

- [ ] Correct Orgwise to OrgWise throughout all surveys (e.g., in the titles and introductions)

[2017-06-05 19:45] saragaudon opened #22 "SIS Benchmark survey testing before launch"
@mmirasol where can I enter test participants to receive the email invite we have set up for this survey? (It's a message that appears from OCASI Ddouglas with a link to the survey). You sent this to me last week, I'd like to send the invite to two people for review.

@saragaudon you can initiate tokens for the survey
![image](https://cloud.githubusercontent.com/assets/13954274/26801414/6702508a-4

[2017-06-05 19:46] saragaudon commented on #22
Question 1: pick as many options as needed. Right now it's only allowing to select one option. @mmirasol

[2017-06-05 19:47] saragaudon commented on #22
Same with Question 2, users can select as many options as they need.

[2017-06-05 19:48] saragaudon commented on #22
For Questions 1 & 2, is it possible for the Text box to appear only when the option has been selected? Right now the 'comment' box appears for every option/slightly confusing.

[2017-06-05 19:49] saragaudon commented on #22
For Question 3, I need to change the Question options. Where can I do this? Can't seem to find edit options (I see edit question groups).

[2017-06-05 19:49] mmirasol commented on #15
thanks @traciwilson can you start putting in the survey intros and section intros?

[2017-06-05 19:53] saragaudon commented on #20
Thanks Mark! I've got it, will close this.

[2017-06-05 19:53] #20 closed

[2017-06-05 19:58] mmirasol commented on #15
@traciwilson these two questions should probably be combined too.

![image](https://cloud.githubusercontent.com/assets/13954274/26800563/5ad74c3c-4a6c-11e7-9fc6-2e88a6800bf0.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26800571/611c8256-4a6c-11e7-9f42-46b4be9364df.png)

[2017-06-05 20:27] mmirasol commented on #22
Yes it is possible but you would need to break the question into several questions and add an open text after each option so it can be controlled by the checks.  The other way to go about it is to add scripting to the template so it hides the text boxes by default and only show them when checked.

[2017-06-05 21:20] mmirasol commented on #15
@traciwilson i think these questions should be combined.

![image](https://cloud.githubusercontent.com/assets/13954274/26803728/d8b976c4-4a77-11e7-8888-1591f2ca5cda.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26803735/e162e378-4a77-11e7-92b5-d9963afaec51.png)

[2017-06-05 21:38] mmirasol commented on #15
hi @traciwilson great job with the intros. can you help me with:
1. all the corrections above? should be easy to find in the 3 surveys now because they are organized better.
2. the end message of the surveys.  the end page content are in google sites.

ex. https://sites.google.com/view/orgwise/understanding-your-results/governance-and-legal-structure?authuser=0
which says,

Understanding your resu

[2017-06-05 21:46] mmirasol commented on #15
@traciwilson The options don't sound right for this question.

![image](https://cloud.githubusercontent.com/assets/13954274/26804688/79058fac-4a7b-11e7-8abc-10007e8c8995.png)

[2017-06-05 22:26] mmirasol commented on #15
@traciwilson The answers don't sound right for this question.

![image](https://cloud.githubusercontent.com/assets/13954274/26805954/0cd603e2-4a81-11e7-9959-8213f1dd023d.png)

[2017-06-05 22:29] mmirasol commented on #15
@traciwilson the answers don't answer the questions being asked.

![image](https://cloud.githubusercontent.com/assets/13954274/26806049/81a1736e-4a81-11e7-9d85-3656f89bad0a.png)

[2017-06-05 22:32] mmirasol commented on #15
@traciwilson even this one doesn't sound right.

![image](https://cloud.githubusercontent.com/assets/13954274/26806114/c0dece1e-4a81-11e7-852a-57509ced03c8.png)

will put in,
Employee benefits are not documented in a policy manual or handbook given to all employees
Employee benefits are documented in a policy manual or handbook given to all employees

[2017-06-05 22:40] mmirasol commented on #15
@traciwilson These two questions should be combined too.

![image](https://cloud.githubusercontent.com/assets/13954274/26806349/f04b8d3a-4a82-11e7-91e2-422992b55b8c.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26806354/fc4e02fc-4a82-11e7-9159-31530bfdc218.png)

[2017-06-05 23:16] mmirasol commented on #15
@traciwilson I think these two questions should be combined.

![image](https://cloud.githubusercontent.com/assets/13954274/26807250/0435de68-4a88-11e7-84c9-1f6c63dfd9f2.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26807254/0daf1d7e-4a88-11e7-8410-dbcfb21c9fe3.png)

[2017-06-05 23:22] mmirasol commented on #15
These questions should be combined too.
![image](https://cloud.githubusercontent.com/assets/13954274/26807405/d5686924-4a88-11e7-8fe1-089b57ad906b.png)

![image](https://cloud.githubusercontent.com/assets/13954274/26807416/e3d8ab0e-4a88-11e7-8c0f-53973b498108.png)

[2017-06-06 15:17] #14 closed

[2017-06-06 15:19] gilliankerr opened #23 "Correct number of questions in Manager Feedback Survey"
In the intro page, it says there are 3 questions but there are actually 11.
Correct that number
![image](https://user-images.githubusercontent.com/4176201/26836828-ea7b39d8-4aa9-11e7-9c98-c2ba06f8367a.png)

[2017-06-06 18:57] saragaudon commented on #22
Looks great Mark, thank you!

[2017-06-06 18:59] traciwilson commented on #23
@gilliankerr Done. The number of questions was an auto-populated field which counted the number of questions, but due to how the questions are set up in lime, it considered each grouping as 1 question. I've manually entered "11" as the number of questions, so if the survey ever changes, we'll need to manually update the intro page as well,

[2017-06-06 18:59] #23 closed

[2017-06-06 19:06] mmirasol commented on #22
happy to help. =)

[2017-06-06 19:28] saragaudon commented on #22
@mmirasol I'm having trouble logging in (ok for now), and also with the Email invite. I modified an English invite, then Saved, now in preview mode there's nothing. I don't have time for this sort of thing, and will need to ask you to check this: there should be an English version of invite that actually includes French because we won't be sending different versions of the invite for different peo

[2017-06-06 19:29] saragaudon commented on #22
![image](https://user-images.githubusercontent.com/15642297/26847979-e9ecf3bc-4acc-11e7-8b08-25b741b0c0e2.png)

[2017-06-06 20:14] mmirasol commented on #22
I see content there but it's in French.
![image](https://user-images.githubusercontent.com/13954274/26849732-d9fc2430-4b37-11e7-8e1a-3041343cd890.png)

[2017-06-06 20:15] mmirasol commented on #22
can you go in an update it again?

[2017-06-06 21:23] mmirasol commented on #15
@traciwilson @gilliankerr the question does not seem to match the provided answers for these questions.  Please advise.

![image](https://user-images.githubusercontent.com/13954274/26852624-727441bc-4b41-11e7-8a49-c0004a3dd123.png)

![image](https://user-images.githubusercontent.com/13954274/26852635-7ac06cf6-4b41-11e7-98df-4f4d412ce71a.png)

[2017-06-06 22:05] mmirasol commented on #15
@gilliankerr these questions would look better as likert scale, will convert them after i split the last 3.

![image](https://user-images.githubusercontent.com/13954274/26854084-2fbb2a92-4b47-11e7-80c2-e5a4c6d5f4b5.png)

[2017-06-06 22:52] mmirasol commented on #15
Hi @traciwilson please put in the intros and end page settings for these surveys,

Program management
http://logicaloutcomes.net/forms/index.php/admin/survey/sa/view/surveyid/223922
test link: http://logicaloutcomes.net/forms/index.php/223922?newtest=Y

[2017-06-06 23:51] traciwilson commented on #15
Here is a list of questions that I've removed from Program management module, Donor compliance subsection:

Deleted: Has the organization received a direct award from USAID?

Modified: Has the organization received a direct award from donors with complex compliance requirements?. Modified answers to remove mention of USAID.

Modified: Does the head office consistently comply with complex requireme

[2017-06-07 03:19] mmirasol commented on #15
@gilliankerr here are links of our 11 modules.

1. Effective managers
http://logicaloutcomes.net/forms/index.php/154199?newtest=Y

2.  Effective teams
http://logicaloutcomes.net/forms/index.php/837344?newtest=Y

3. Working in partnership with other organizations
http://logicaloutcomes.net/forms/index.php/484266?newtest=Y

4. Building community capacity
http://logicaloutcomes.net/forms/index.php/57

[2017-06-07 03:41] #15 closed

[2017-06-07 03:45] mmirasol commented on #15
@gilliankerr all posted issues have been addressed as of this writing.

[2017-06-07 19:42] traciwilson opened #24 "Minor corrections needed for OrgWise surveys"
@mmirasol @gilliankerr I've reviewed the first 5 surveys, and made minor changes where it didn't involve deactivating the survey.

There are some minor fixes needed to questions on Governance and legal structure module. I can do them tomorrow if Mark is unable to today. Tomorrow I will also review the other 6 surveys.

Governance and legal structure
Is the organization legally registered? What leg

[2017-06-07 19:56] gilliankerr commented on #21
has this been completed and ready to close?

[2017-06-07 20:14] gilliankerr commented on #6
Good news! Mark, can you change the username to survey@logicaloutcomes.ca  instead of limesurvey? It's better to simplify it for users.
@saragaudon you can give Mark the generic email address to forward messages to ....

[2017-06-07 20:17] gilliankerr commented on #24
Wonderful, thanks. I've sent off the invitations and my first interview is tomorrow; keep making those revisions because the interviews will be over the next 2 weeks and we can tweak throughout.

[2017-06-07 20:38] mmirasol commented on #6
@gilliankerr @saragaudon emails sent from inmotion are going to spam for logicaloutcomes.ca
before this we tested with gmail smtp settings and it did not go to spam.
this tells us that when inmotion communicates with office365 to deliver the email it cannot prove that our sending address limesurvey@logicaloutcomes.ca is authorized to send email as/from our admin emails.

we need to perform the fol

[2017-06-07 20:39] mmirasol commented on #21
Correct Orgwise to OrgWise throughout all surveys - is not done yet.

[2017-06-07 23:23] saragaudon commented on #22
Hi Mark - sending you an email with the inline images, our French reviewer had a few comments. Please message if this is unclear:

1. In the first french page (where you select language)
The 1st paragraph below title (see image) can be removed as it is similar to what's right below it

2. In the load survey section
In the 3rd line: Replace "Renseignez" with Fournissez

3. In the second question of

[2017-06-07 23:26] saragaudon commented on #22
6. The title of the survey that displays on the survey should be just "What evaluation services would you like from OCASI?" Then for French versions, "Quels services d'évaluation souhaiteriez-vous auprès d'OCASI?"

7. Add back the colored hands photo to the main page, like the orgwise surveys...http://www.publicdomainpictures.net/pictures/190000/velka/raised-hands-1471189549xg5.jpg

8. Welcome pag

[2017-06-07 23:26] saragaudon commented on #22
@gilliankerr OCASi translator noticed the MCI footer is in English only. Footer was MCI requirement, not OCASI. Are we ok to keep as-is in English?

[2017-06-08 00:58] gilliankerr commented on #22
This must be an OCASI decision

[2017-06-08 03:26] mmirasol commented on #22
noted on these issues @saragaudon i have to step out this morning but i will try to be back asap to address them.  you can paste the images directly on github too. just fyi.

[2017-06-08 03:39] mmirasol commented on #22
1. In the first french page (where you select language)
The 1st paragraph below title (see image) can be removed as it is similar to what's right below it
I also had centred it on your content system. Not sure if you prefer to be aligned to the left?
![image](https://user-images.githubusercontent.com/13954274/26911267-beaac6d4-4c3e-11e7-8607-173b5d90f577.png)
@saragaudon fixed please check.

2. In

[2017-06-08 03:49] mmirasol commented on #22
For items 4 and 5 will check if that's possible cos the template doesn't break it down. will need to check with lime support on that.

[2017-06-08 13:44] gilliankerr commented on #6
Is this ready to close?

[2017-06-08 13:48] gilliankerr commented on #21
Please close this when finished.

[2017-06-08 13:49] gilliankerr commented on #24
I'm closing this issue.

[2017-06-08 13:49] #24 closed

[2017-06-08 13:49] #18 closed

[2017-06-08 15:17] saragaudon commented on #6
It sure is - thanks @mmirasol for getting this fixed up.

[2017-06-08 15:17] #6 closed

[2017-06-08 17:21] mmirasol commented on #22
For items 6, 7 and 8,
this is because we are using the welcome page.
we can just disable it on the survey settings (see below) and set relevance = 1 for the start page so we can use that one instead. that's where the image is.
![image](https://user-images.githubusercontent.com/13954274/26941689-f11a95d6-4cb1-11e7-844f-091a92cd385b.png)
![image](https://user-images.githubusercontent.com/13954274/26

[2017-06-08 17:44] saragaudon commented on #22
As per Gillian's suggestion, let's bring back the image on the welcome page for the SIS benchmark.

Everything else is fine Mark, thank you!

Sara

---
Sara Gaudon, Executive Director, LogicalOutcomes<http://www.logicaloutcomes.net/>
sara@logicaloutcomes.net<http://www.logicaloutcomes.net/> | Toronto 647-478-5634 x103 Washington 202-779-9634 x103

________________________________
From: Mark Miraso

[2017-06-08 17:54] mmirasol commented on #22
ok will take care of it.

[2017-06-09 15:14] saragaudon commented on #22
@mmirasol client is asking, when the survey is viewed in French, if the Footer can also be in French. Is this theme switch possible? OR should we make a bi-lingual footer that has both English and French sentences?

[2017-06-12 12:57] #21 closed

[2017-06-12 13:29] #11 closed

[2017-06-14 12:38] gilliankerr commented on #22
@saragaudon when this issue is closed, can we delete the whole repo? I guesss we should download and archive it for reference?

[2017-06-23 11:11] saragaudon opened #25 "SIS benchmark new survey changes from OCASI"
1. Replace the image with this one
http://www.publicdomainpictures.net/pictures/190000/velka/raised-hands-1471189549xg5.jp
@saragaudon the link above does not work.

2. Edit the survey title that appear in the survey, "Sector Evaluation Needs and Activities"
@saragaudon done.

3. Please replace this header 'What are you doing now?'
with
"What evaluation activities are you doing right now?"
@saraga

[2017-06-23 18:12] mmirasol commented on #25
@saragaudon noted on your requests. will let you know once done.

[2017-06-23 18:21] mmirasol commented on #25
@saragaudon here's the test link.
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y

[2017-06-26 11:50] saragaudon commented on #25
Thanks @mmirasol
1. the picture was missing a g: http://www.publicdomainpictures.net/pictures/190000/velka/raised-hands-1471189549xg5.jpg
2. add a separate page for the 'what challenges have you experienced with current evaluations?' - I'd like this question to come before the 'How would you like to participate in this project' question

The last page will have the 'anything else' question + selec

[2017-06-26 14:15] mmirasol commented on #25
@saragaudon changes complete. please check.
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y

[2017-06-26 15:49] #22 closed

[2017-06-26 15:53] saragaudon commented on #25
@mmirasol

1. make the title 'Evaluation challenges' for that question (not 'what challenges')

On the post-submit page
2.  can you make the 'View Statistics' font bigger, so that's what people are encouraged to click?

3. Remove the 'OCASI INFORMAITON PAGE' - this is the same as the link that's already listed.
![image](https://user-images.githubusercontent.com/15642297/27548129-fc84536e-5a65-11e7

[2017-06-26 16:54] mmirasol commented on #25
@saragaudon please check again.
http://logicaloutcomes.net/forms/index.php/886367?newtest=Y&lang=en

[2017-06-26 21:40] saragaudon commented on #25
@mmirasol in French version, please change the image - I think it's saving the cartoon ladies from English version. Otherwise, client is happy!

[2017-06-27 13:23] saragaudon commented on #25
Thanks @mmirasol can you remove all submissions? We should be going live shortly!

[2017-06-27 16:07] mmirasol commented on #25
@saragaudon done.

[2017-07-04 14:05] saragaudon commented on #25
@mmirasol can you add one organization to that big drop down / the last questions?  It's "Madison Community Services"

[2017-07-04 19:49] mmirasol commented on #25
@saragaudon done.
![image](https://user-images.githubusercontent.com/13954274/27841531-f071c86a-6134-11e7-9fe3-1c9794bc2298.png)

[2017-07-05 21:12] saragaudon commented on #25
Thanks @mmirasol - can you remove the user Kaye Fox completely from the LimeSurvey system? No user account is needed. Thank you.

[2017-07-11 12:31] #25 closed